<div class="tabBar">
    <img class="floatLeft" src="/images/buttons/PS3/PS3_L2.png" width="40" height="40" /><a id="l2_button" onClick="javascript:decrementTab();"></a>
    <div id="tabTop" class="tab tabSelected"><p>Top</p></div>
    <div id="tabMyRank" class="tab"><p>My Rank</p></div>
    <div id="tabFriends" class="tab"><p>Friends</p></div>
    <img class="floatRight" src="/images/buttons/PS3/PS3_R2.png" width="40" height="40" /><a id="r2_button" onClick="javascript:incrementTab();"></a>
</div>