@{
    ViewData["Title"] = "Solo Overall Leaderboards";
}

<script>
    // TODO - Web Browser Debug
    document.onkeydown = checkKey;

    function checkKey(e) {

        e = e || window.event;

        if (e.keyCode == '13') {
            // enter
            selectElement();
        }
        if (e.keyCode == '27') {
            // esc
            history.back();
        }
        if (e.keyCode == '38') {
            // up arrow
            decrement();
        }
        else if (e.keyCode == '40') {
            // down arrow
            increment();
        }
        else if (e.keyCode == '37') {
           // left arrow
        }
        else if (e.keyCode == '39') {
           // right arrow
        }
    }
    // TODO - End Web Browser Debug

    function onPageLoad() {
        document.getElementById('paginationNext').style.visibility = "visible";
        document.getElementById('paginationNext').className += " isSelected";
    }

    function selectElement() {
        var selectedId = document.getElementsByClassName('isSelected')[0].id;
        var loc = document.getElementById(selectedId).getAttribute("href");
        window.location = loc;
    }

    function increment() {
        // Get index value
        var index = parseInt(document.getElementById('index').value, 10);

        // Increment
        if (index === 5) {
            // Do nothing
        } else {
            index++;
        
            // Select card based on index, de-select previous card
            var pagePrev = document.getElementById("paginationPrevious"); //0
            var pageNext = document.getElementById("paginationNext");
            var osr = document.getElementById("OverallSoloRanked");       //1
            var srd = document.getElementById("SoloRankedDeathrace");     //2
            var srs = document.getElementById("SoloRankedStreet");        //3
            var srt = document.getElementById("SoloRankedTranny");        //4
            var srk = document.getElementById("SoloRankedSKATE");         //5
            switch(index) {
                case 1:
                    pagePrev.className = "card card-pagination card-pagination-previous";
                    pageNext.className = "card card-pagination card-pagination-next";
                    osr.className += " isSelected";
                    break;
                case 2:
                    osr.className = "card card-leaderboard-category";
                    srd.className += " isSelected";
                    break;
                case 3:
                    srd.className = "card card-leaderboard-category";
                    srs.className += " isSelected";
                    break;
                case 4:
                    srs.className = "card card-leaderboard-category";
                    srt.className += " isSelected";
                    break;
                case 5:
                    srt.className = "card card-leaderboard-category";
                    srk.className += " isSelected";
                    break;
                default:
                    break;
            }

            // Set value to hidden input
            document.getElementById('index').value = index;
        }
    }

    function decrement() {
        // Get index value
        var index = parseInt(document.getElementById('index').value, 10);

        // If zero set back to max
        if (index === 0) {
            // Do nothing
        } else {
            index--;

            // Select card based on index, de-select previous card
            var pagePrev = document.getElementById("paginationPrevious"); //0
            var pageNext = document.getElementById("paginationNext");
            var osr = document.getElementById("OverallSoloRanked");       //1
            var srd = document.getElementById("SoloRankedDeathrace");     //2
            var srs = document.getElementById("SoloRankedStreet");        //3
            var srt = document.getElementById("SoloRankedTranny");        //4
            var srk = document.getElementById("SoloRankedSKATE");         //5
            switch(index) {
                case 0:
                    osr.className = "card card-leaderboard-category";
                    selectedPage = document.getElementById('paginationSelected').value;
                    if (selectedPage == 0) {
                        pagePrev.className += " isSelected";
                    } else if (selectedPage == 1) {
                        pageNext.className += " isSelected";
                    }
                    break;
                case 1:
                    srd.className = "card card-leaderboard-category";
                    osr.className += " isSelected";
                    break;
                case 2:
                    srs.className = "card card-leaderboard-category";
                    srd.className += " isSelected";
                    break;
                case 3:
                    srt.className = "card card-leaderboard-category";
                    srs.className += " isSelected";
                    break;
                case 4:
                    srk.className = "card card-leaderboard-category";
                    srt.className += " isSelected";
                    break;
                default:
                    break;
            }

            // Set value to hidden input
            document.getElementById('index').value = index;
        }
    }
</script>

<div class="content">
    @Html.Partial("_Pagination")

    <a id="OverallSoloRanked" class="card card-leaderboard-category" href="/skate3/webkit/PS3/English/i/Leaderboards/Solo/Overall/Ranked">
        <img src="/images/decks.png" />Overall Solo Ranked
    </a>
    <a id="SoloRankedDeathrace" class="card card-leaderboard-category">
        <img src="/images/decks.png" />Solo Ranked Deathrace
    </a>
    <a id="SoloRankedStreet" class="card card-leaderboard-category">
        <img src="/images/decks.png" />Solo Ranked Street
    </a>
    <a id="SoloRankedTranny" class="card card-leaderboard-category">
        <img src="/images/decks.png" />Solo Ranked Tranny
    </a>
    <a id="SoloRankedSKATE" class="card card-leaderboard-category">
        <img src="/images/decks.png" />Solo Ranked SKATE
    </a>
    <!--
    <a id="SoloRanked1Up" class="card card-leaderboard-category">
        <img src="/images/decks.png" />Solo Ranked 1-Up
    </a>
    <a id="SoloRankedDomination" class="card card-leaderboard-category">
        <img src="/images/decks.png" />Solo Ranked Domination
    </a>
    <a id="SoloRankedHall of Meat Battle" class="card card-leaderboard-category">
        <img src="/images/decks.png" />Solo Ranked Hall of Meat Battle
    </a>
    <a id="SoloRankedSpotBattle" class="card card-leaderboard-category">
        <img src="/images/decks.png" />Solo Ranked Spot Battle
    </a>
    -->
    
    <input type="hidden" id="paginationSelected" value="1"/>
    <input type="hidden" id="index" value="0"/>
    <a id="dpad_up_button" onClick="javascript:decrement();"></a>
    <a id="dpad_down_button" onClick="javascript:increment();"></a>
</div>