<div class="footer">
	<a class="footerExit floatLeft" id="start_button" href="quitwebkit://">
		<img src="/images/buttons/PS3/PS3_Start.png" width="30" height="30" />
		Exit
	</a>

	<a class="footerBack floatRight" id="fake_circle_button" href="javascript:history.back()">
		<img src="/images/buttons/PS3/PS3_Circle.png" width="30" height="30" />
		Back
	</a>

	<a class="footerSelect floatRight">
		<img src="/images/buttons/PS3/PS3_Cross.png" width="30" height="30" />
		Select
	</a>
</div>