@{
    ViewData["Title"] = "Test";
}
<div class="content">
    <p>Test Page</p>
    <ul> <!-- todo support navigation -->
        <li><a id="dpad_up_button" href="/skate3/webkit/PS3/English/i/Debug/Inputs"><img src="/images/buttons/PS3/PS3_Dpad_Up.png" width="40" height="30" /></a>Inputs</li>
    </ul>
</div>