body {
    background-color: darkgray;
    padding: 0 215px 0 215px;
    font-family: "Futura Std Medium";
    font-weight: 700;
    font-size: 16px;
    color: White;
    letter-spacing: 1pt;
}

.container {
    background-color: black;
    width: 810px;
    height: 612px;
    padding: 54px 20px;
}

.content {
    display: block;
    width: 810px;
    height: 530px;
    overflow: hidden;
}