@{
    ViewData["Title"] = "404";
}

<div class="content textAlignCenter">
    <img src="/images/coach_frank.png" />
    <h1>404</h1>
    <p style="width: 450px; margin: 0 auto;">Hi! I'm Coach Frank the best skateboard coach money can buy! You can find me in the Yellow Pages! You're looking at 4-1-1, err, I mean 4-0-4, there's nothing here so g-get back out there Tiger and get 'em!</p>
</div>