<div class="tabBar">
    <img class="floatLeft" src="/images/buttons/PS3/PS3_L2.png" width="40" height="40" /><a id="l2_button" onClick="javascript:decrementTab();"></a>
    <div id="tabSkater" class="tab tabSelected"><p>Skater</p></div>
    <div id="tabProfileContent" class="tab"><p>Content</p></div>
    <div id="tabStats" class="tab"><p>Stats</p></div>
    <div id="tabTrophies" class="tab"><p>Trophies</p></div>
    <img class="floatRight" src="/images/buttons/PS3/PS3_R2.png" width="40" height="40" /><a id="r2_button" onClick="javascript:incrementTab();"></a>
</div>