@model object

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <h1>HELLO WOOOOOOOOOOOOOOOOOOOOOOOOOOORLD!</h1>
    <h1 style="color:white;">HELLO WOOOOOOOOOOOOOOOOORLD!</h1>
</body>
</html>