@{
    ViewData["Title"] = "SkateFeed";
}
<div class="content">
    <p>SkateFeed Page for @ViewData["Username"]</p>

</div>
<div class="footer">
    <a id="select_button" class="navigation_ignore" href="/skate3/webkit/PS3/English/i/Test"><img src="/images/buttons/PS3/PS3_Select.png" width="40" height="30" /></a>Test
    <a id="start_button" class="navigation_ignore" href="quitwebkit://"><img src="/images/buttons/PS3/PS3_Start.png" width="40" height="30" /></a>Continue
</div>