<div class="tabBar">
    <img class="floatLeft" src="/images/buttons/PS3/PS3_L2.png" width="40" height="40" /><a id="l2_button" onClick="javascript:decrementTab();"></a>
    <div id="tabNews" class="tab tabSelected"><p>News</p></div>
    <div id="tabContent" class="tab"><p>Content</p></div>
    <div id="tabContacts" class="tab"><p>Contacts</p></div>
    <img class="floatRight" src="/images/buttons/PS3/PS3_R2.png" width="40" height="40" /><a id="r2_button" onClick="javascript:incrementTab();"></a>
</div>